<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><Book-API></Book-API></title>
    <link rel="stylesheet" href="/public/styles/base.css">
</head>
<body>
    <h1>Hello guys</h1>
    <form action="/form">
    <button >Go to search page</button>
</form>
</body>
</html>